/* VARIABLES */
:root {
  --primary-color: #141414;
  --secondary-color: #f55f14c9;
  /* --tertiary-color: #f9f9f9; */
  --tertiary-color: aliceblue;
  --fourth-color: #727d71;
  --fifth-color: #187fce;
}
/* UNIVERSAL SELECTOR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--primary-color);
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER STYLES START */
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--fourth-color);
  /* box-shadow: 3px 3px 3px var(--primary-color); */
  top: 0;
  z-index: 9999;
}
header h1 {
  border-radius: 10px 10px 10px;
  padding: 10px;
  margin: 0 0 0 1em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.header a {
  text-decoration: none;
  color: var(--primary-color);
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.header ul a {
  padding: 10px 15px;
  font-weight: 400;
  font-size: 1.7vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header ul a:hover {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 15px;
  text-shadow: none;
}
.navActive {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 15px;
}
.navlinks {
  margin: 0 14px;
}

.flex-row {
  display: flex;
  align-items: baseline;
}

/* HOME STYLES */
.home-cont {
  background-image: url("../public/images/home-img.jpg");
  background-position: 0% 80%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.home-title {
  color: var(--tertiary-color);
  padding: 60px 0px;
  width: 80%;
  font-size: 3rem;
  margin-right: 5%;
  margin-left: auto;
  text-align: right;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.home-text {
  color: var(--tertiary-color);
  padding: 30px 20px 20px 30px;
  width: 50%;
  font-size: 1.7rem;
  margin-right: 5%;
  margin-left: auto;
  text-align: right;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
  line-height: 1.5;
  background-color: rgb(20, 20, 20, 0.5);
  border-radius: 18px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.home-text:hover {
  background-color: rgb(114, 125, 113, 0.5);
}

/* ADD JOB STYLES */
.contact-container {
  margin: 0 27% 0 27%;
  padding: 10px 40px 40px 40px;
}
#addJobForm {
  align-self: center;
  color: var(--primary-color);
  padding: 15px 20px;
  margin: 0 auto 0 auto;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: rgb(46, 64, 87, 0.5);
}
#addJobForm input,
#addJobForm textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 6px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
}
#addJobForm input:focus,
.addJobForm textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
#addJobForm button {
  width: 20%;
  border: none;
  background: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  margin-top: 10px;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}
#addJobForm button:hover {
  color: var(--secondary-color);
  background: var(--tertiary-color);
}

/* MAP STYLES */
.mapboxgl-map {
  margin: 0 auto 10px auto;
  
}

.button {
  width: 17%;
  margin-left: 10px;
  border: none;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  text-align: center;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid var(--fourth-color);
  margin-bottom: 10px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.button:hover {
  color: var(--secondary-color);
  background: var(--tertiary-color);
}
.address-container {
  display: flex;
  align-items: center;
  width: 750px;
  margin: 7px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.add {
  margin: 5px;
}

/* FOOTER STYLES */
.footer {
  border-top: solid 1px var(--primary-color);
  color: var(--primary-color);
  padding: 10px;
  font-size: 10px;
  /* background-color: var(--fourth-color); */
}

/* JobList */
.table-name {
  margin: 30px;
  text-align: center;
}

#table-container {
  margin: 3vh;
}

.status-cell {
  width: 12%;
}

#job-list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

#job-list td,
#job-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#job-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

#job-list tr:hover {
  background-color: #ddd;
}

#job-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--secondary-color);
  color: white;
}

#table-container {
  text-align: center;
}

#confirm-complete-btn {
  margin: 10vh;
  height: 10vh;
  width: 50vh;
}

/* CLIENT ADDITION */

.clientContain {
  height: calc(100vh - 135px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clientInput {
  width: 100%;
  background-color: #5a5a5a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clientInput:hover {
  transform: scale(1.05);
}

.clientSubmit {
  
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #000000;
  border-color: #000000;
}

.clientSubmit:hover {
  background-color: #00a118;
  border-color: #036e4a;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
  text-align: center;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
  text-align: center;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
  text-align: center;
}

/* LOGIN AND SIGNUP STYLE */
.login-title {
  color: var(--fourth-color);
  width: 100%;
  font-size: 1.9rem;
  margin: 40px 0;
  /* margin-left: 5%; */
  text-align: center;
}
.login-form{
  align-self: center;
  width: 70%;
  color: var(--primary-color);
  padding: 15px 20px;
  margin: 0 auto 60px auto;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background-color: rgb(46, 64, 87, 0.5);
}
.login-form input, .login-form select {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 6px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 575px) {
  .button {
    width: 40%;
  }
}