/* VARIABLES */
:root {
  --primary-color: #141414;
  --secondary-color: #f55f14;
  --tertiary-color: #f9f9f9;
  --fourth-color: #727d71;
  --fifth-color: #778da9;
}
/* UNIVERSAL SELECTOR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--tertiary-color);
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER STYLES START */
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 3px 3px 3px var(--secondary-color);
  top: 0;
  z-index: 9999;
}
.header h1{
  /* font-weight: bold; */
  /* font-size: 68px; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  border-radius: 10px 10px 10px;
  padding: 10px;
  margin: 0 0 0 1em;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
}
.header a {
  text-decoration: none;
  color: var(--primary-color);
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.header ul a {
  padding: 10px 15px;
  font-weight: 400;
  font-size: 1.7vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header ul a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
.navActive {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 15px;
}

/* HOME STYLES */
.home-cont {
  background-image: url("../public/images/home-img.jpg");
  background-position: 0% 80%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 600px;
}

.home-title {
  color: var(--tertiary-color);
  padding: 60px 0px;
  width: 80%;
  font-size: 3rem;
  margin-right: 5%;
  margin-left: auto;
  text-align: right;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.home-text {
  color: var(--tertiary-color);
  padding: 30px 20px 20px 30px;
  width: 50%;
  font-size: 1.7rem;
  margin-right: 5%;
  margin-left: auto;
  text-align: right;
  text-shadow: 0 0 12px rgba(0, 0, 0, 1);
  line-height: 1.5;
  background-color: rgb(20, 20, 20, 0.5);
  border-radius: 18px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.home-text:hover {
  background-color: rgb(114, 125, 113, 0.5);
}

/* FOOTER STYLES */
.footer {
  border-top: solid 1px var(--primary-color);
  color: var(--primary-color);
  padding: 10px;
  font-size: 10px;
  /* background-color: var(--fourth-color); */
}
